{% extends 'acrmipsite/base.html' %}
{% load static %}

{% block content %}
    {% include 'acrmipsite/includes/content_template.html'%}
    <!-- <div class="container home-bucket">
        <div class="home-heading ">
            <h1 class="page-title">{{ title }}</h1>
        </div>
        <div class="content-header">
            <div class="image  flex-image">
                    <img class="it-img" src="{% static imgUrl %}" alt="">
            </div>
            <div class="brief-summary">
                <p>{% lorem 3 p %}</p>
            </div>
            <div class="image  flex-image">
                <img class="it-img" src="{% static imgUrl %}" alt="">
            </div>
        </div>
        <div class="text-content ">
            <p>{% lorem 10 b random %}</p>
        </div>
    </div> -->
{% endblock %}