{% extends 'acrmipsite/base.html' %}
{% load static %}

{% block content %}
    
    <div class="container home-bucket">
        {% include 'acrmipsite/includes/content_template.html'%}
        <!-- <div class="home-heading ">
            <h1 class="page-title">Welcome to the African Computing Renaissance Home Page!</h1>
        </div>
        <div class="image  flex-image">
                <img class="it-img" src="{% static 'acrmipsite/images/home_computer_board.jpg'%}" alt="">
        </div>
        <div class="text-content ">
            <p>{% lorem 10 b random %}</p>
        </div> -->
    </div>
{% endblock %}