{% extends 'acrmipsite/base.html' %}
{% load static %}

{% block content %}
    <div class="container home-bucket">
        <div class="home-heading grid-item-1">
            <h2 class="page-title">Our Research Areas Page!</h2>
        </div>
        <div class="image grid-item-2 flex-image">
                <img class="it-img-x" src="{% static 'acrmipsite/images/black_muntu_research.jpg'%}" alt="">
        </div>
        <div class="text-content grid-item-3">
            <p>{% lorem 10 b random %}</p>
        </div>
    </div>
{% endblock %}